<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ck.test">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShieldPlugin"
        android:name="com.ck.test.MyApp"
       >

        <activity
            android:name="com.ck.test.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <service android:name=".TestService" android:exported="true" android:process=".hahahha"/>-->
<!--        <provider android:name="com.ck.test.TestProvider" android:exported="false" android:authorities="com.mc.cpyr.ttzlz.bd.provider" android:grantUriPermissions="true">-->
<!--            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/zwe"/>-->
<!--        </provider>-->

    </application>

</manifest>